<a href="{{ site.baseurl }}/publications.html" id="publications">Publications</a> 
&#xb7; <a href="{{ site.baseurl }}/research/" id="research">Research</a> 
&#xb7; <a href="{{ site.baseurl }}/resume/" id="resume">Resume</a>

<span class="small">
&#xb7; <a href="{{ site.baseurl }}/people/" id="people">People</a> 
<!-- &#xb7; <a href="{{ site.baseurl }}/articles/" id="blog">Blog</a>  -->
&#xb7; <a href="https://medium.com/@animesh_garg" id="blog">Blog</a> 
&#xb7; <a href="{{ site.baseurl }}/news/" id="news">News</a> 
<!-- &#xb7; <a href="{{ site.baseurl }}/misc/" id="misc">Misc</a>  -->
<!-- <a href="{{ site.baseurl }}/fun/" id="fun">Fun</a> &#xb7;
<a href="{{ site.baseurl }}/links/" id="links">Links</a> &#xb7;
<a href="{{ site.baseurl }}/colophon/" id="colophon">Colophon</a>
-->
</span>