@font-face {
  font-family: "Museo300" ;
  src: url("/~animesh.garg/css/type/museo_300_macroman/Museo300-Regular.otf");
  src: url("/~animesh.garg/css/type/museo_300_macroman/Museo300-Regular-webfont.eot?iefix") format("embedded-opentype"),
  url("/~animesh.garg/css/type/museo_300_macroman/Museo300-Regular-webfont.woff") format("woff"),
  url("/~animesh.garg/css/type/museo_300_macroman/Museo300-Regular-webfont.ttf") format("truetype"),
  url("/~animesh.garg/css/type/museo_300_macroman/Museo300-Regular-webfont.svg#webfontBsA9EFUC") format("svg");
  font-weight: normal;
  font-style: normal;
}

.topmargin {
  margin-top: 25px;
}

/*#sidebar {
   position:fixed;
}*/

#info img {  
  width: 180px;
  border: 3px solid #FFF;
  /*border: 1px solid #0A0A0A;*/
  /*border: 1px solid #0787E3;*/  
  margin: 5px;
  border-radius: 5px;
  /*border: 3px solid #FFF;*/
  box-shadow: 0 0 7px 0px #AAA; */
}

body {
  background-color: #FFFDFC;
  color: #0A0A0A;
  font-family: "Museo300",'Helvetica Neue', 'Helvetica Neue Light', 'HelveticaNeue-Light',  Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 1em;
  line-height: 130%;
  text-align: justify; /*Testing out the justification*/
}
/* color scheme: http://colorschemedesigner.com/#3s21QvyQpw0w0 */
a {
  color: #0787E3;
  text-decoration: none;
}
a:focus, a:hover {
  color: #ff8a04;
}

.abstract {
  width: 80%;
  margin-left: 20px;
  font-size: 11px;
  line-height: 17px;
  text-align: justify;
}

div.figure {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid white;
  margin-bottom: 5px;
  padding-top: 5px;
  width: 90%;
}

.figure h4 {
  text-align: center;
}

.figure p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  line-height: 17px;
}

.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border: 0px;
}

.references dt {
  float:left;
  padding: 0px;
  margin-left: -19px;
  margin-right: 19px;
  clear:both;
  position:relative;
  text-align: right;
  width: 7%;
}

.references dd {
  float: left;
  width: 93%;
  margin-bottom: 19px;
}


/* projects styling */
.projects img { /* Float any image to the LEFT and give it some margin */
  width: 31%;
  font-size:1em;
  float:right;
  border: 0px solid #ccc;
  margin-bottom:1.8em;
  margin-left:1em;
  margin-top:0.3em;
}

.projects ul {
  list-style: none;
  margin-left: -30px;
}

.projects li {
  border-left: 1px solid #ccc;
  padding-left: 19px;
  border-radius: 3px;
  margin-bottom: 19px;
}

.projects li::first-line{
  /*background-color: #0787E3;*/
  /*color: #E6E6E6;  */
  line-height: 200%;
  background-color: #E6E6E6;
  color: #0787E3;   
}

.projects dt {
  float:left;
  width:240px;
  padding: 0px 5px;
  margin-left: -19px;
  margin-right: 19px;
  clear:both;
  position:relative;
  text-align: justify;  
}

.projects dt img {
  width: 100%;
  font-size:1em;
  float:none;  
  margin-bottom:0.3em;
  margin-left:1em;
  margin-right:1em;
  margin-top:0.3em;
  /*border: 1px solid #0787E3;*/
  box-shadow: 0 0 7px 0px #AAA; 
  border-radius: 8px;
  border: 3px solid #FFF;  
}

.projects dd {
  float: right;
  width: 440px;
  margin-bottom: 19px;
}

.projects dd::first-line{
  /*background-color: #0787E3;*/
  /*color: #E6E6E6;  */
  line-height: 200%;  
  color: #0787E3;
  /*background-color: #E6E6E6;*/   
}

/* publications styling */
.publications ol {
  list-style: decimal;
  margin-left: -30px;
}

.publications ul {
  list-style: none;
  margin-left: -30px;
}

.publications li {
  border-left: 1px solid #ccc;
  padding-left: 19px;
  border-radius: 3px;
  margin-bottom: 19px;
}


.vision_lunch li {
  list-style: bullet;
  margin-left: 0px;
}

ul.inset {
  list-style: none;
  margin-left: -30px;
}

.inset li {
  border-left: 1px solid #ccc;
  padding-left: 19px;
  margin-bottom: 9px;
}

.inset p {
  display: inline;
}

/* vita styling */
.vita p {
  width:680px;
}

.vita dt {
  float:left;
  width:100px;
  padding: 0px;
  margin-left: -19px;
  margin-right: 19px;
  clear:both;
  position:relative;
  text-align: right;
}

.vita dd {
  float: left;
  width: 580px;
  margin-bottom: 19px;
}

.vita ul {
  list-style: none;
  margin-left: -19px;
}

.vita li {
  width: 580px;
  margin-left: 100px;
  padding-left: 19px;
  border-left: 1px solid #ccc;
  margin-bottom: 19px;
  border-radius: 3px;  
}

.vita h6 {
  margin-left: 100px;
}

p {
  /*line-height: 19px; /* 6px more than font-size */
  line-height: 130%;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  /*margin: 10px;*/
  border: 0 #ccc solid;
  border-top-width: 1.5px;
  clear: both;  
  height: 0;
}

h1 {
  font-size: 1.75em;
  font-family: "Museo300", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-transform: uppercase;*/
  font-variant: small-caps;
  font-weight: normal;
}

#navbar {  
  font-size: 1.4em;
  font-family: "Museo300",'Helvetica Neue', Helvetica, Arial, sans-serif;  
  margin-bottom: 19px;
  background-color: #E6E6E6;  
  box-shadow: 2px 3px 10px 0px #b8b8b8;
  /*Make the nav bar slide with the page*/
  /*position: fixed;
  z-index: 100;*/
}

#navbar .small {
  font-size: 80%;  
}
/*Make the name also floating */
/*#a-href-idhomeanimesh-garga {
  position: fixed;  
  background-color: #FFF;
  box-shadow: 0 0 7px 0px #FFF;  
  border: 3px solid #FFF;
}*/

h2 {
  font-family: "Museo300", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.4em;
}

h3 {
  font-family: "Museo300", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}

h4 {
  font-family: "Museo300",  Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
}

h5 {
  font-family: "Museo300", , Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

h6 { /* h6 is special... */  
  font-size: 1.3em;
  line-height: 7px;
  font-weight: normal;
  font-variant: small-caps;
  /*text-transform: uppercase;*/
  /*font-size: 1.1em;*/
  letter-spacing: 1px;
  color: #666;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

#info ul {
  list-style: circle;
}

#info li {
  margin-left: 19px;
}

dl {
  display: block;
}

table {
  width: 60%;
  border: 1px solid #bbb;
  margin-right: auto;
  margin-left: auto;
}

th {
  border: 1px solid #bbb;
  font-weight: bold;
  text-align: center;
}

td {
  border: 1px solid #bbb;
  text-align: center;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl,
dt,
dd,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 19px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

/* Round imgaes for people*/
/*
/people {
  color: #555;
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
  width: 120px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}*/
.people img{
  /*display: inline;*/
  height: 120px;
  width: 120px;
  margin: 5px;
  border-radius: 100px;
  border: 3px solid #FFF;
  box-shadow: 0 0 7px 0px #AAA;  
}
.people table{
  width: 50%;
  border: none;
  margin-right: auto;
  margin-left: 0;
}
.people th {
  border: none;
  font-weight: bold;
  text-align: center;
}
.people td {
  border: none;
  text-align: center;
}

#footer {
  font-size: 12px;
  padding-bottom: 1em;
}

.notfound {
  font-size: 200%;
  padding: 5em;
}

.centered {text-align: center;}
.right {text-align: right;}

acronym {
  border-bottom: 1px dashed;
}

/* From typogridphy.css */
img.left-img{ /* Float any image to the LEFT and give it some margin */
  float:left;
}
img.right-img{ /* Float any image to the RIGHT and give it some margin */
  float:right;
}
